@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

.about-description {
    font-family: 'Quicksand', sans-serif;
    line-height:40px;
    padding-right: 30px;
    text-align: justify;
}
.about-brand {
    font-family: 'Inspiration', cursive;

}
.about-description span {
    color:#6c7c69;
    font-weight: bold;
}
.about-container {
    padding: 0 150px;
    margin-bottom: 100px;
}

.about-history {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: rgb(242, 247, 243);
    cursor: grabbing;
    margin-bottom:150px;
}
.cursor {
    display: none;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:#6c7c69;
    color: #fff;
    pointer-events: none;
    transform:translateX(-50%, -50%);
    z-index: 999;
}
.cursor span {
    position:absolute;
    top: 18px;
    left: 9px;
}
.history-list {
    display:grid;
    grid-template-columns: repeat(8 ,320px);
    position: relative;
    left: 0;
    pointer-events: none;
    width: 170%;
}
.history-item {
    text-align: center;
}
.history-img img {
    margin: 0 auto;
}
.history-title {
    font-size:20px;
    color: #6c7c69;
    font-weight: 700;
    letter-spacing: 3px;
}
.history-des {
    font-family: 'Quicksand', sans-serif;
    font-size:14px;
    padding: 10px 0;
}
.history-date {
    font-family: 'Inspiration', cursive;
    font-size:24px;
    letter-spacing:3px;
    color: #6c7c69;
}
.history-le {
    margin-top:110px;
}
.history-chan {
    margin-top:117px;
}
.square-img {
    margin-top:97px;
}